/* Navigation */
#navbar{
    flex-direction: column;
    /* position: sticky; */
}
#navbar ul li{
    padding-bottom: 8px;
}
#navbar ul li a{
    font-size: 11px;
    padding: 0px 8px;
   
}
/* Home Section */
#home{
    height: 400px;
    padding: 3px 42px;
    

}
#home::before{
    height: 480px;
   
}
#home p{
    font-size: 17px;
}
.btn{
    font-size: 10px;
    margin: 0px 10px;
    margin-top: 10px;
}

/* Services Section */
#services{
    flex-direction: column;

}
#services .box{
    padding: 20px;
    margin: 1px 1px;
   

}
#services .box img{
    width: 182px;
}

/* Clients section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    height: auto;
    
}



/* Contact Us Section */
#contact{
    margin-top: 147px;
}

#contact-box form{
    width: 80%;
}
#contact h1{
    margin-bottom: 15px;
}

/* Footer */


/* utility class */

.h-primary{
    font-size: 26px;
}