/* CSS reset  */
*{
    margin: 0px;
    padding: 0px;
}

/* CSS variables */
:root{
    --navbar-height: 59px;
}
/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    /* position: relative; Position relative kar deta hoon navbar ki jo uppar ja ke aram se beth jaye fir. */
    position: relative;
    top: 0px;
    left: 0px;
   
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px; /*Top 0 ra left 0 garese image jo hai ekdam uppar chala jayega.*/
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
   
}

/* Navigation Bar: Logo and Image */
#logo{   
    margin: 11px 22px;
}
#logo img{
    height: 60px;
    width: 60px;    
    margin: 3px 9px;
    border-radius: 50px;

}

/* Navigation Bar: List styling */
#navbar ul{
    display: flex;
    /* font-family: 'Baloo Bhaina 2', cursive; */
    
    
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    /* font-family: 'Baloo Bhaina 2', cursive; */
    
}
/* yeha padding maile li lai nadera a lai deko xu kinaki yedi li lai diye vani li ko sabai area ma hover garda color change garxa
tara a lai padding diye vani tyo lekheko ma matrai hover garda lekheko ma matrai color change hunxa bujeu raja. */
#navbar ul li a{
    display: block;/*By default inline hoti hai display ko block keu kiya keu ki padding deni hai.*/
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Baloo Bhaina 2', cursive;
}
#navbar ul li a:hover{
    background-color: white;
    color:black;
}
/* Home section */
#home{
    display: flex; /*Yesle elements haru mathi laijanxa */
    flex-direction: column;/*Baapas se ye inche aajayega elements haru sabai.*/
    padding: 3px 200px;
    height:430px;
    justify-content: center;
    align-items:center;
    
}
#home::before{
    content: "";
    background: url('../Images/3.jpg') no-repeat center center/cover;
    position:absolute;
    top: 0px;
    left: 0px;
    height: 71%;
    width:100%;
    z-index: -1;
    opacity: 0.9;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    margin-top: 30px;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Services section */


.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
.services-container h1{
    font-size: 50px;
    margin-top: 50px;
}
#services{
    margin: 2px 34px;
    display: flex;
}

#services .box img{
    /* Manxe le margin auto kaam gardaina gardaina vanxan paila display:block garera height/width set garera hera ani margin;auto 
    gara ta gardo raxa ki ranaxa thaa hunxa. */
    height: 170px;
    display: block;
    margin: auto;
    border-radius: 30px;
}
#services .box{
    padding: 20px;
    margin: 10px 25px;
    border: 2px solid brown;
    border-radius: 25px;
    background-color: rgb(241 233 245);
}
#services .box p{
    font-family:   'Bree Serif', serif;
    font-weight: lighter;
    color: rgb(32, 39, 32);
}

/* Clients Section: */
#client-section{
    /* height: 255px; */
    /* position: relative; */

}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../Images/5.jpg) no-repeat center center/cover;
    width: 100%;
    height:36%;
    z-index: -1;
    opacity: 0.6;
    

}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 4px 40px;
}
#clients img{
    height: 124px;
    /* padding: 59px; */
}

/* Contact Section */
#contact{
    position: relative;
    margin-top: 43px;
}
#contact::before{
    content: "";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../Images/contact.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.8;
    
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
   font-size: 1.3rem;
   font-family:   'Bree Serif', serif;
}
footer{
    background-color: black;
    color: white;
    padding: 23px 22px;
}
/* Utility Class */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
