
/*
label.valid {
	width: 24px;
	height: 24px;
	background: url(assets/img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}*/
label.error {
	font-size:13px;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

label.valid {
	font-size:13px;
	color: green;
	padding: 2px 8px;
	margin-top: 2px;
}
